/* Font Link*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-size: 100%;
    text-align: center;
}

/* Colours */
:root {
    /* (CTA text) */
    --Light-red: #ff525d; 
    /* (CTA hover background) */
    --Very-light-red: #ff7a85;
    /* (headings) */
    --Very-dark-blue: #1f3f5b;

    /* (text) */
    --White: #ffffff;
    /* (footer text) */
    --Grayish-blue: #c8c8cb;
    /* (body copy) */
    --Very-dark-grayish-blue: #4b5862;
    /* (footer background) */
    --Very-dark-black-blue: #25252d;
    
    /* Background gradient - Intro/CTA mobile nav: */
    --Very-light-red: #ff8f70;
    --Light-red: #ff3d54; 
    /* Background gradient - body: */
    --Very-dark-gray-blue: #2c2d3f;
    --Very-dark-desaturated-blue: #3f4164;
}

/* Text */
p, h1, h2, h4 { font-family: 'Overpass', sans-serif; }

p { 
    font-weight: 300; 
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 48px;
    letter-spacing: 0.5px;
    color: var(--Very-dark-grayish-blue);
}

h1 {
    font-weight: 600; 
    font-size: 36px;
    line-height: 55px;
    margin: 0px auto 25px;
    max-width: 320px;
    color: var(--White);   
}

h2 {
    font-weight: 600; 
    font-size: 28px;
    line-height: 32px;
    color: var(--Very-dark-blue);
    max-width: 300px;
    margin: 0px auto 25px;
    
}

h4 {
    font-weight: 300; 
    font-size: 18px;
    line-height: 28px;
    margin: 0px auto;
    max-width: 300px;
    color: var(--White);
}

/* Buttons */
.btn {
    width: 137px;
    height: 48px;
    border-radius: 50px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.btn:first-child {
    margin-right: 10px;
}

.btn--light {
    color: var(--Light-red);
    background-color: var(--White);
}

.btn--dark {
    color: var(--White);
    background-color: var(--Light-red);
    border: 1px solid var(--White);
}

.btn--grad {
    color: var(--White);
    background: linear-gradient(180deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
}

/* List Items and links */
li {
    list-style: none;  
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px; 
    line-height: 33px;
}

a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-decoration: none;
    color: var(--Very-dark-blue);
}

/* Images */
img {
    width: 100%;
    object-fit: cover;
}

/* Layout */
/* Container */
.container {
    max-width: 1114px;
    padding: 0px 24px;
    margin: 0 auto;
}

/* Header */
.header {
    border-radius: 0px 0px 0px 100px;
    background-color: var(--Light-red);
    background: url("images/bg-pattern-intro.svg"), linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 155px; 
}

.nav {
    display: flex;
    position: relative;
    height: 88px;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 120px;
}

/* Nav Dropdown */
.nav__content {
    position: absolute;
    top: 120px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: var(--White); 
    padding: 20px 0px;  
}

.nav__link {
    margin-bottom: 15px;
}

.nav__arrow-icon {
    width: 8px;
    margin-left: 10px;
}

.nav__logo {
    width: auto;
}

.nav__hamburger {
    margin-bottom: 10px;
    width: auto;
}

.header__heading {
    margin-bottom: 0px;
}

.header__subheading {
    margin-bottom: 45px;
}

/* Section One */
.section-one__heading {
    margin-bottom: 50px;
    margin-top: 110px;
}

.section-one__image {
    margin-bottom: 45px;
}

/* Section Two */
.section-two {   
    background-image: url("images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -175px;
    background-position-x: center;
    background-color: var(--Very-dark-gray-blue);
    margin-top: 280px;
    border-radius: 0px 100px 0px 100px;
    padding-bottom: 110px;
}

.section-two__image {
    transform: translateY(-180px);
    margin-bottom: -180px;
}

.section-two__body {
    color: var(--White);
    margin-bottom: 0px;
}

/* Section Three */
.section-three {
    margin-top: 80px;
}

.section-three__image {
    margin-bottom: 50px;
}

/* Footer */
.footer {
    background-color: var(--Very-dark-black-blue);
    border-radius: 0px 100px 0px 0px;
    padding-bottom: 76px;
}

.footer__logo {
    width: auto;
    margin: 76px 0px;
}

.footer__links-col {
    margin-bottom: 50px;
}

.footer__links-col:last-child {
    margin-bottom: 0px;
}

.footer__link a {
    color: var(--Grayish-blue);
}

.footer__links-header {
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--White);
}
